@page "/todos"
@inject TodoContext Context

<h1>Todos</h1>

<form>
    <input bind="@Filter" type="text" placeholder="Type to filter" />
    <button class="btn btn-primary" type="button" onclick="@onFilter">Filter</button>
</form>

<BlazorTable IsBordered="true" IsHovarable="true">
    <thead>
        <tr><th>Id</th><th>Is Done</th><th>Text</th></tr>
    </thead>
    <tbody>
        @foreach (var todo in Filtered)
        {
            var color = todo.IsDone ? Color.Success : Color.Danger;
            <TableRow Color="@color">
                <td><button  class="btn btn-secondary" onclick="@(() => onClickItem(todo.Id))">@todo.Id</button></td>
                <td>@todo.IsDone</td>
                <td>@todo.Text</td>
            </TableRow>
        }
    </tbody>
</BlazorTable>
<button class="btn btn-primary" type="button" onclick="@addNewClick">Add New</button>
<h2>Selected Item</h2>
<TodoItemForm  />

@functions {  
    string Filter { get; set; }
    List<TodoItem> Filtered { get; set; } = new List<TodoItem>();
    int SelectedId { get; set; } = 1;

    protected async override Task OnInitAsync()
    {
        await Context.Initialize();
        if (Context.Todos.Count == 0)
        {
            //Insert some initial data
            Context.Todos.Add(new TodoItem { IsDone = true, Text = "Create initial BlazorDB project" });
            Context.Todos.Add(new TodoItem { IsDone = true, Text = "Make a todo app" });
            Context.Todos.Add(new TodoItem { IsDone = false, Text = "Make BlazorDB really awesome!" });
            await Context.SaveChanges();
        }
        Filtered = Context.Todos.ToList<TodoItem>();
    }

    void onFilter()
    {
        if(Filter == String.Empty)
        {
            Filtered = Context.Todos.ToList<TodoItem>();
        }
        else
        {
            var query = from todo in Context.Todos
                        where todo.Text.ToLower().Contains(Filter.ToLower())
                        select todo;
            Filtered = query.ToList();
        }
    }

    void onClickItem(int i)
    {
        Console.WriteLine("Todos onClickItem: {0}", i);
        SelectedId = i;
        StateHasChanged();
    }

    void addNewClick()
    {
        SelectedId = 0;
        StateHasChanged();
    }

    void NewTodoAdded()
    {
        StateHasChanged();
    }
}